<div class="col-md-6 col-lg-4 order-2 mb-4">
    <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title m-0 me-2">Useful links</h5>
        </div>
        <div class="card-body">
            <ul class="p-0 m-0">
                <li class="d-flex">
                    <div class="avatar flex-shrink-0 me-3">
                        <span class="avatar-initial rounded bg-label-primary"><i class="bx bxl-discord"></i></span>
                    </div>
                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                        <div class="me-2">
                            <small class="text-muted d-block mb-1">Discord Server:</small>
                            <a href="<%= settings.discordserver.invitelink %>" class="btn btn-primary">Join Discord</a>
                        </div>
                    </div>
                </li>
                <br />
                <li class="d-flex">
                    <div class="avatar flex-shrink-0 me-3">
                        <span class="avatar-initial rounded bg-label-primary"><i class="bx bxl-discord"></i></span>
                    </div>
                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                        <div class="me-2">
                            <small class="text-muted d-block mb-1">Dashboard URL:</small>
                            <a href="<%= settings.pterodactyl.domain %>" class="btn btn-primary">Go to Dashboard</a>
                        </div>
                    </div>
                </li>
